<div id="shipicon">
	<%= image_tag "ship-icon.png" %>
</div>
<h1 id="homepagetitle">ship to shore </h1>

	
	<% @top5.each do |t| %>
		<div class="entry">
			<h3><%= t.name %></h3>
			<p><%= t.description %></p>
			<h4>$ <%= t.cost %></h4>
		</div>
	<% end %>
