// Place all the styles related to the boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boat-list {
  list-style-type: none;
}

.image_prev {
  height: 100px;
  width: 100px;
}
